{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div class="header">
    <span>Search</span>
</div>
    <form action="/search" method="post">
        <div class="mb-0">
            <input class="form-control mx-auto w-auto" name="search" placeholder="Search" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    {% if results %}
        <ul>
            {% for product in results %}  
            <li class="product-item">
                <a href="/product_detail/{{ product.product_id }}">  
                <img class="product-image" src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
                <div class="product-info">
                    <h2>{{ product.name }} </h2>
                    <p>Team: {{ product.team }}</p>
                    <p>Size: {{ product.size }}</p>
                    <p>Price: € {{ product.price }}</p>
                    <p>Country: {{ product.country}}</p>
                    <p>Description: {{ product.description }}</p>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}